.Modal {
    margin-top: 0; 
    margin-bottom: 0; 
    z-index: 1;
    background-color: white;
    color: #616161;
    padding: 16px 16px 16px 16px; 
    border: 1px solid #ccc;
    box-shadow: 2px 2px 2px #ccc;
    border-radius: 10px 10px 10px 10px; 
}
