.Rarity { 
    margin: auto; 
    display: flex; 
    height: 100%;
    align-items: center;
}

.RarityText {
    margin-left: 10px; 
    line-height: 0; 
}

.RaritySquare {
    position: absolute;
    left: 170px; 
    width: 20px;
    height: 20px; 
    animation: rainbow 0.5s linear infinite; 
}

@keyframes rainbow {
    0%, 100% {background: green;}
    20% {background: cyan;}
    40% {background: yellow;}
    60% {background: red;}
    80% {background: blue;}
}
