.Prize {
    position: absolute; 
    left: 50%; 
    top: 900px; 
    margin-left: -350px; 
}

.Text {
    width: 700px; 
}

.PrizeOpen {
    animation: openPrize 0.2s ease-out forwards; 
}

@keyframes openPrize {
    0% {
        opacity: 0;
        transform: scale(2); 
    }
    50% {opacity: 0.5;}
    100% {opacity: 1;}
}

.RarityTypeText {
    animation: rainbow 0.5s linear infinite; 
}

@keyframes rainbow {
    0%, 100% {color: green;}
    20% {color: cyan;}
    40% {color: yellow;}
    60% {color: red;}
    80% {color: blue;}
}
