.Text {
    width: 100%; 
    text-align: center;
}

.Rainbow {
    animation: rainbow 0.5s linear infinite; 
}

@keyframes rainbow {
    0%, 100% {color: green;}
    20% {color: cyan;}
    40% {color: yellow;}
    60% {color: red;}
    80% {color: blue;}
}
