.Logo {
    padding: 10px; 
    height: 75%;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.Logo img {
    height: 100%; 
}

.text {
    font-size: 23px; 
    padding-left: 8px; 
}

.version {
    color: #616161; 
    font-size: 8px; 
    padding-left: 2px; 
    padding-top: 9.5px; 
}

