.Logo {
    padding: 10px; 
    height: 75%;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.Logo img {
    height: 100%; 
}

.Text {
    margin-left: 8px; 
    display: flex; 
}

.Name {
    font-size: 23px; 
    letter-spacing: 0.01em; 
    font-weight: 800; 
}

.Version {
    color: #616161; 
    font-size: 8px; 
}
