.Rarity { 
    margin: auto; 
    display: flex; 
    height: 100%;
    align-items: center;
}

.RarityText {
    margin-left: 10px; 
    line-height: 0; 
}

.RaritySquare {
    position: absolute;
    left: 170px; 
    width: 20px;
    height: 20px; 
    animation: changingColor 1s linear infinite; 
}

@keyframes changingColor {
    33.33% {background: red;}
    66.66% {background: green;}
    100% {background: blue;}
}
