.navigationItem {
    margin: 0;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
}

.navigationItem a {
    color: #616161;
    height: 100%;
    padding: 12px 16px;
    border-bottom: 4px solid transparent;
    text-decoration: none; 
}

.navigationItem a:hover,
.navigationItem a:active,
.navigationItem a.active {
    background-color: #616161;
    color: white;
}

 