.resetButton {
    position: absolute; 
    top: 825px; 
    left: 50%;
    margin-left: -65px; 
    width: 100px;  
    background-color: gray; 
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px; 
    outline: none; 
}

.resetButton:hover,
.resetButton:active {
    box-shadow: 0 6px 16px 0 #e7e7e7; 
    background-color: darkgray; 
    cursor: pointer; 
    outline: none; 
}

.resetButton:disabled {
    opacity: 0.3; 
    cursor: not-allowed; 
    box-shadow: none; 
    background-color: gray; 
}

.spinnerText1 {
    font-size: 90px; 
    color: white;  
    line-height: 0; 
    margin-bottom: 50px;
}

.spinnerText2 {
    font-size: 30px; 
    color: #dedcdc; 
}

.InfoButton {
    position: absolute; 
    top: 825px; 
    left: 50%;
    margin-left: 40px; 
    width: 25px;  
    background-color: gray; 
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px; 
    outline: none; 
}

.InfoButton:hover,
.InfoButton:active {
    box-shadow: 0 6px 16px 0 #e7e7e7; 
    background-color: darkgray; 
    cursor: pointer; 
    outline: none; 
}


