.ProfileCard {
    padding: 10px; 
    height: 75%;
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
}

.Username {
    font-size: 1.3em; 
    font-weight: 800; 
}

.SP {
    color: #616161; 
}
