.Right {
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Seller {
    font-weight: bold;
    font-size: 1.25em; 
}

.ListTime {
    font-size: 0.65em;
    font-style: italic; 
    margin-top: 16px; 
    color: #616161; 
}

.Error {
    color: red;
    text-align: center;
    margin-top: 42px; 
}
