.ProfileCard {
    padding: 10px; 
    height: 75%;
    display: flex; 
}

.ProfileCard img {
    height: 100%; 
}

.Text {
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    margin-left: 8px; 
}

.User {
    font-size: 1.3em; 
    font-weight: 800; 
}

.SP {
    color: #616161; 
}
